<div class="grid-container">
  <div>
    <div class="inline">
      <mat-form-field>
        <mat-label>Platform</mat-label>
        <mat-select (selectionChange)="applyPlatformFilter($event.value)">
          <mat-option *ngFor="let platform of platformDropdown" [value]="platform">
            {{platform}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="inline">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Unit" [(ngModel)]="unitFilter" (ngModelChange)="applyUnitFilter($event)">
      </mat-form-field>
      </div>
      <div class="inline">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Account" [(ngModel)]="accountFilter" (ngModelChange)="applyAccountFilter($event)">
          </mat-form-field>
        </div>
    <div class="inline">
        <mat-form-field>
          <mat-label>Date</mat-label>
          <mat-select (selectionChange)="applyDateFilter($event.value)">
            <mat-option *ngFor="let date of dateDropdown" [value]="date">
              {{date}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="inline">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Amount" [(ngModel)]="amountFilter" (ngModelChange)="applyAmountFilter($event)">
          </mat-form-field>
        </div>
  </div>
  <div>
      <ngx-datatable
      #mydatatable
      class="material"
      style="height: 70vh;"
      [headerHeight]="50"
      [columnMode]="'force'"
      [footerHeight]="50"
      [rowHeight]="50"
      [rows]="filteredRows"
      [selected]="selected"
      [selectionType]="'checkbox'"
      [selectAllRowsOnPage]="false"
      [displayCheck]="displayCheck"
      (select)='onSelect($event)'
      [scrollbarV]="true"
      [scrollbarH]="false">
      <ngx-datatable-column
      [width]="30"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [checkboxable]="true">
    </ngx-datatable-column>
    <ngx-datatable-column name="Id">
        <ng-template ngx-datatable-cell-template let-value="value">
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Platform">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
            title="Double click to edit"
            (dblclick)="editing[rowIndex + '-platform'] = true"
            *ngIf="!editing[rowIndex + '-platform']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'platform', rowIndex)"
            *ngIf="editing[rowIndex+ '-platform']"
            type="text"
            [value]="value"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Unit">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <span
            title="Double click to edit"
            (dblclick)="editing[rowIndex + '-unit'] = true"
            *ngIf="!editing[rowIndex + '-unit']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'unit', rowIndex)"
            *ngIf="editing[rowIndex+ '-unit']"
            type="text"
            [value]="value"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Account">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
             <span
              title="Double click to edit"
              (dblclick)="editing[rowIndex + '-account'] = true"
              *ngIf="!editing[rowIndex + '-account']">
              {{value}}
            </span>
            <input
            autofocus
            (blur)="updateValue($event, 'account', rowIndex)"
            *ngIf="editing[rowIndex+ '-account']"
            type="text"
            [value]="value"
          />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Date">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
               <span
                title="Double click to edit"
                (dblclick)="editing[rowIndex + '-date'] = true"
                *ngIf="!editing[rowIndex + '-date']">
                {{value}}
              </span>
              <input
              autofocus
              (blur)="updateValue($event, 'date', rowIndex)"
              *ngIf="editing[rowIndex+ '-date']"
              type="text"
              [value]="value"
            />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Amount">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                 <span
                  title="Double click to edit"
                  (dblclick)="editing[rowIndex + '-amount'] = true"
                  *ngIf="!editing[rowIndex + '-amount']">
                  {{value}}
                </span>
                <input
                autofocus
                (blur)="updateValue($event, 'amount', rowIndex)"
                *ngIf="editing[rowIndex+ '-amount']"
                type="text"
                [value]="value"
              />
              </ng-template>
            </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div class="grid-controls">
      <button mat-raised-button color="primary">Refresh</button>
      <button mat-raised-button color="primary">Delete</button>
      <button mat-raised-button color="primary">Add</button>
  </div>
</div>