.app-panel {
    margin: 0 auto;
    height: 60%;
    width: 50%;
    padding-top: 15vh;
}

.app-card {
    height: 100%;
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
    padding-top: 10vh;
}

@media only screen and (max-width: 755px) {
    .app-panel {
        height: 70%;
        padding-top: 10vh;
    }
    
    form {
        width: 80%;
    }
}

@media only screen and (max-width: 490px) {
    .app-panel {
        height: 80%;
        width: 90%;
        padding-top: 10vh;
    }
    form {
        width: 90%;
    }
}