<ngx-loading-bar></ngx-loading-bar>
<div class="app-panel">
  <mat-card class="app-card">
    <div class="hover-container">
      <div class="menu-button" matRipple>
        <a class="nav-link" routerLink="/grid">
          <i class="material-icons big-icon">grid_on</i>
          <p class="icon-label">Open grid</p>
        </a>
      </div>
    </div>
    <div class="hover-container">
      <label>
        <div class="menu-button" matRipple>
          <i class="material-icons big-icon">cloud_upload</i>
          <p class="icon-label">Upload an Excel document</p>
          <input type="file" (change)="handleUpload($event)">
        </div>
      </label>
    </div>
    <div class="hover-container">
      <div class="menu-button" *ngIf="showUserManagement" matRipple>
        <a class="nav-link" routerLink="/users">
          <i class="material-icons big-icon">people</i>
          <p class="icon-label">Users management</p>
        </a>
      </div>
    </div>
    <div class="hover-container">
      <div class="menu-button" (click)="logout()" matRipple>
        <i class="material-icons big-icon">clear</i>
        <p class="icon-label">Logout</p>
      </div>
    </div>
  </mat-card>
</div>